.tiptap > * + * {
  margin-top: 1rem;
}

.tiptap ul,
.tiptap ol {
  padding: 0 1rem;
}

.tiptap h1,
.tiptap h2,
.tiptap h3,
.tiptap h4,
.tiptap h5,
.tiptap h6 {
  line-height: 1.1;
}

.tiptap h1 {
  font-size: 64px;
  font-weight: bold;

  @media (max-width: 1024px) {
    font-size: 42px;
  }
}

.tiptap h2 {
  font-size: 48px;
  font-weight: bold;

  @media (max-width: 1024px) {
    font-size: 32px;
  }
}

.tiptap h3 {
  font-size: 32px;
  font-weight: bold;

  @media (max-width: 1024px) {
    font-size: 26px;
  }
}

.tiptap h4 {
  font-size: 30px;

  @media (max-width: 1024px) {
    font-size: 22px;
  }
}

.tiptap h5 {
  font-size: 22px;
  font-weight: bold;

  @media (max-width: 1024px) {
    font-size: 18px;
  }
}

.tiptap code {
  background-color: #6161611a;
  color: #616161;
}

.tiptap pre {
  background: #0d0d0d;
  color: #fff;
  font-family: monospace;
  padding: 0.75rem 1rem;
  border-radius: 0.5rem;
}

.tiptap pre code {
  color: inherit;
  padding: 0;
  background: none;
  font-size: 0.8rem;
}

.tiptap img {
  max-width: 100%;
  height: auto;
}

.tiptap blockquote {
  padding-left: 1rem;
  border-left: 2px solid rgba(13, 13, 13, 0.1);
}

.tiptap hr {
  border: none;
  border-top: 2px solid rgba(13, 13, 13, 0.1);
  margin: 2rem 0;
}
